{
  "openapi": "3.1.0",
  "info": {
    "title": "Cashflow (GPT Actions) \u2013 Strict",
    "version": "0.2.0",
    "description": "Cashflow Minimal service for transactions, categories, budgets, bills, balances, EF, breakdown planning, and snapshots. Shapes derived from service code."
  },
  "servers": [
    {
      "url": "https://cashflow.joseai.dev"
    }
  ],
  "paths": {
    "/sync": {
      "post": {
        "tags": [
          "sync"
        ],
        "summary": "Sync",
        "operationId": "sync_sync_post",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            },
            "description": "Number of trailing days to sync"
          },
          {
            "name": "start",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "end",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "start": {
                      "type": "string",
                      "format": "date"
                    },
                    "end": {
                      "type": "string",
                      "format": "date"
                    },
                    "fetched": {
                      "type": "integer"
                    },
                    "upserted_into_lm_transactions": {
                      "type": "integer"
                    },
                    "inserted_into_transactions": {
                      "type": "integer"
                    },
                    "accounts_processed": {
                      "type": "integer"
                    },
                    "balance_snapshots": {
                      "type": "integer"
                    }
                  },
                  "required": [
                    "start",
                    "end",
                    "fetched",
                    "upserted_into_lm_transactions",
                    "inserted_into_transactions",
                    "accounts_processed",
                    "balance_snapshots"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "List Transactions",
        "operationId": "list_transactions_transactions_get",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string",
                  "format": "date"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "ignored",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "string"
                },
                {
                  "type": "null"
                }
              ]
            },
            "description": "Filter by category id. Use null or _uncategorized to return only uncategorized transactions."
          },
          {
            "name": "uncategorized",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ]
            },
            "description": "Filter by uncategorized state: true=only uncategorized, false=only categorized, omitted=no filter. Equivalent to category=null when true."
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lm_id": { "type": "integer" },
                      "date_posted": { "type": "string", "format": "date" },
                      "amount": { "type": "number" },
                      "currency": { "type": "string" },
                      "payee": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "note": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "category": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "ignored": { "type": "boolean" }
                    },
                    "required": ["lm_id","date_posted","amount","currency","ignored"],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/transactions/uncategorized": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "List Uncategorized Transactions",
        "operationId": "list_uncategorized_transactions_transactions_uncategorized_get",
        "parameters": [
          {
            "name": "ignored",
            "in": "query",
            "required": false,
            "schema": {
              "anyOf": [
                {
                  "type": "boolean"
                },
                {
                  "type": "null"
                }
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 0,
              "default": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lm_id": { "type": "integer" },
                      "date_posted": { "type": "string", "format": "date" },
                      "amount": { "type": "number" },
                      "currency": { "type": "string" },
                      "payee": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "note": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "category": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "ignored": { "type": "boolean" }
                    },
                    "required": ["lm_id","date_posted","amount","currency","ignored"],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/transactions/{lm_id}": {
      "get": {
        "tags": [
          "transactions"
        ],
        "summary": "Get Transaction",
        "operationId": "get_transaction_transactions__lm_id__get",
        "parameters": [
          {
            "name": "lm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lm_id": {
                      "type": "integer"
                    },
                    "date_posted": {
                      "type": "string",
                      "format": "date"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                  "payee": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                    "note": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "category": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                    ]
                  },
                  "ignored": {
                    "type": "boolean"
                  }
                },
                "required": [
                  "lm_id",
                  "date_posted",
                  "amount",
                  "currency",
                  "ignored"
                ],
                "additionalProperties": false
              }
            }
          }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "patch": {
        "tags": [
          "transactions"
        ],
        "summary": "Patch Transaction",
        "operationId": "patch_transaction_transactions__lm_id__patch",
        "parameters": [
          {
            "name": "lm_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "category": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "ignored": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "note": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "payee": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lm_id": {
                      "type": "integer"
                    },
                    "date_posted": {
                      "type": "string",
                      "format": "date"
                    },
                    "amount": {
                      "type": "number"
                    },
                    "currency": {
                      "type": "string"
                    },
                    "payee": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "note": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "category": {
                      "anyOf": [
                        {
                          "type": "string"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    },
                    "ignored": {
                      "anyOf": [
                        {
                          "type": "boolean"
                        },
                        {
                          "type": "null"
                        }
                      ]
                    }
                  },
                  "required": [
                    "lm_id",
                    "date_posted",
                    "amount",
                    "currency"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/transactions/batch": {
      "post": {
        "tags": [
          "transactions"
        ],
        "summary": "Batch patch transactions (category, ignored, note, payee)",
        "operationId": "batch_patch_transactions_transactions_batch_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "operations": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "lm_id": {
                          "type": "integer"
                        },
                        "category": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "ignored": {
                          "anyOf": [
                            {
                              "type": "boolean"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "note": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "payee": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "lm_id"
                      ],
                      "additionalProperties": true
                    }
                  }
                },
                "required": [
                  "operations"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "lm_id": { "type": "integer" },
                      "date_posted": { "type": "string", "format": "date" },
                      "amount": { "type": "number" },
                      "currency": { "type": "string" },
                      "payee": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "note": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "category": { "anyOf": [ { "type": "string" }, { "type": "null" } ] },
                      "ignored": { "type": "boolean" }
                    },
                    "required": ["lm_id","date_posted","amount","currency","ignored"],
                    "additionalProperties": false
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/categories": {
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "List Categories",
        "operationId": "list_categories_categories_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "affects_cashflow": {
                        "type": "boolean"
                      },
                      "budgetable": {
                        "type": "boolean"
                      },
                      "is_income": {
                        "type": "boolean"
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "affects_cashflow",
                      "budgetable",
                      "is_income"
                    ],
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "categories"
        ],
        "summary": "Create Category",
        "operationId": "create_category_categories_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "Your id, e.g. 'groceries'"
                  },
                  "name": {
                    "type": "string"
                  },
                  "affects_cashflow": {
                    "type": "boolean",
                    "default": true
                  },
                  "budgetable": {
                    "type": "boolean",
                    "default": true
                  },
                  "is_income": {
                    "type": "boolean",
                    "default": false
                  }
                },
                "required": [
                  "id",
                  "name"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "ok",
                    "id"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/categories/{id}": {
      "patch": {
        "tags": [
          "categories"
        ],
        "summary": "Patch Category",
        "operationId": "patch_category_categories__id__patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "affects_cashflow": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "budgetable": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "is_income": {
                    "anyOf": [
                      {
                        "type": "boolean"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "categories"
        ],
        "summary": "Delete Category",
        "operationId": "delete_category_categories__id__delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/budgets": {
      "get": {
        "tags": [
          "budgets"
        ],
        "summary": "List Budgets",
        "operationId": "list_budgets_budgets_get",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category_id": {
                        "type": "string"
                      },
                      "category_name": {
                        "type": "string"
                      },
                      "year": {
                        "type": "integer"
                      },
                      "month": {
                        "type": "integer"
                      },
                      "amount": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "category_id",
                      "category_name",
                      "year",
                      "month",
                      "amount"
                    ],
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/budgets/{category_id}/{year}-{month}": {
      "put": {
        "tags": [
          "budgets"
        ],
        "summary": "Upsert Budget",
        "operationId": "upsert_budget_budgets__category_id___year___month__put",
        "parameters": [
          {
            "name": "category_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "year",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "month",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  }
                },
                "required": [
                  "amount"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "category_id": {
                      "type": "string"
                    },
                    "year": {
                      "type": "integer"
                    },
                    "month": {
                      "type": "integer"
                    },
                    "amount": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "ok",
                    "category_id",
                    "year",
                    "month",
                    "amount"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/cashflow/budget-vs-actual": {
      "get": {
        "tags": [
          "cashflow"
        ],
        "summary": "Budget Vs Actual",
        "operationId": "budget_vs_actual_cashflow_budget_vs_actual_get",
        "parameters": [
          {
            "name": "year",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 2000,
              "maximum": 2100
            }
          },
          {
            "name": "month",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 12
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "category_id": {
                        "type": "string"
                      },
                      "category_name": {
                        "type": "string"
                      },
                      "budgeted": {
                        "type": "number"
                      },
                      "actual": {
                        "type": "number"
                      },
                      "variance": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "category_id",
                      "category_name",
                      "budgeted",
                      "actual",
                      "variance"
                    ],
                    "additionalProperties": true
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/bills": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "List Bills",
        "operationId": "list_bills_bills_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "currency": {
                        "type": "string"
                      },
                      "frequency": {
                        "type": "string",
                        "enum": [
                          "weekly",
                          "monthly",
                          "yearly"
                        ]
                      },
                      "weekday": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": 0,
                            "maximum": 6
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "day_of_month": {
                        "anyOf": [
                          {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 31
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "start_date": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "date"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      },
                      "end_date": {
                        "anyOf": [
                          {
                            "type": "string",
                            "format": "date"
                          },
                          {
                            "type": "null"
                          }
                        ]
                      }
                    },
                    "required": [
                      "id",
                      "name",
                      "amount",
                      "currency",
                      "frequency"
                    ],
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "bills"
        ],
        "summary": "Create Bill",
        "operationId": "create_bill_bills_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "your id, e.g. 'rent'"
                  },
                  "name": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "default": "USD"
                  },
                  "frequency": {
                    "type": "string",
                    "enum": [
                      "weekly",
                      "monthly",
                      "yearly"
                    ]
                  },
                  "weekday": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 6
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "day_of_month": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 31
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "start_date": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "end_date": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "id",
                  "name",
                  "amount",
                  "frequency"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "id": {
                      "type": "string"
                    },
                    "created": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok",
                    "id",
                    "created"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "400": {
            "description": "Bad Request"
          }
        }
      }
    },
    "/bills/{id}": {
      "patch": {
        "tags": [
          "bills"
        ],
        "summary": "Patch Bill",
        "operationId": "patch_bill_bills__id__patch",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "amount": {
                    "anyOf": [
                      {
                        "type": "number"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "currency": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "frequency": {
                    "anyOf": [
                      {
                        "type": "string",
                        "enum": [
                          "weekly",
                          "monthly",
                          "yearly"
                        ]
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "weekday": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 0,
                        "maximum": 6
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "day_of_month": {
                    "anyOf": [
                      {
                        "type": "integer",
                        "minimum": 1,
                        "maximum": 31
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "start_date": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "end_date": {
                    "anyOf": [
                      {
                        "type": "string",
                        "format": "date"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      },
      "delete": {
        "tags": [
          "bills"
        ],
        "summary": "Delete Bill",
        "operationId": "delete_bill_bills__id__delete",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bills/{id}/contribute": {
      "post": {
        "tags": [
          "bills"
        ],
        "summary": "Contribute",
        "operationId": "contribute_bills__id__contribute_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "note": {
                    "anyOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "amount"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    }
                  },
                  "required": [
                    "ok"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bills/{id}/mark-paid": {
      "post": {
        "tags": [
          "bills"
        ],
        "summary": "Mark Paid",
        "operationId": "mark_paid_bills__id__mark_paid_post",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean"
                    },
                    "already_paid": {
                      "type": "boolean"
                    },
                    "period_start": {
                      "type": "string",
                      "format": "date"
                    },
                    "due": {
                      "type": "string",
                      "format": "date"
                    }
                  },
                  "required": [
                    "ok",
                    "already_paid",
                    "period_start",
                    "due"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/bills/occurrences": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "Occurrences",
        "operationId": "occurrences_bills_occurrences_get",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "due_soon_days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 60,
              "default": 14
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "bill_id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      },
                      "due": {
                        "type": "string",
                        "format": "date"
                      },
                      "amount": {
                        "type": "number"
                      },
                      "progress_pct": {
                        "type": "number"
                      },
                      "paid": {
                        "type": "boolean"
                      },
                      "saved_so_far": {
                        "type": "number"
                      },
                      "contrib_sum": {
                        "type": "number"
                      },
                      "paid_sum": {
                        "type": "number"
                      },
                      "days_to_due": {
                        "type": "integer"
                      },
                      "due_soon": {
                        "type": "boolean"
                      },
                      "priority_score": {
                        "type": "number"
                      }
                    },
                    "required": [
                      "bill_id",
                      "name",
                      "due",
                      "amount",
                      "progress_pct",
                      "paid",
                      "saved_so_far",
                      "contrib_sum",
                      "paid_sum",
                      "days_to_due",
                      "due_soon",
                      "priority_score"
                    ],
                    "additionalProperties": true
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bills/{id}/ledger": {
      "get": {
        "tags": [
          "bills"
        ],
        "summary": "Bill Ledger",
        "operationId": "bill_ledger_bills__id__ledger_get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bill_id": {
                      "type": "string"
                    },
                    "from": {
                      "type": "string",
                      "format": "date"
                    },
                    "to": {
                      "type": "string",
                      "format": "date"
                    },
                    "contrib_sum": {
                      "type": "number"
                    },
                    "paid_sum": {
                      "type": "number"
                    },
                    "entries": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "occurred_at": {
                            "type": "string"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "note": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "occurred_at",
                          "amount"
                        ],
                        "additionalProperties": true
                      }
                    }
                  },
                  "required": [
                    "bill_id",
                    "from",
                    "to",
                    "contrib_sum",
                    "paid_sum",
                    "entries"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "404": {
            "description": "Not Found"
          }
        }
      }
    },
    "/balances/snapshot": {
      "get": {
        "tags": [
          "balances"
        ],
        "summary": "Snapshot",
        "operationId": "snapshot_balances_snapshot_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "liquid_total": {
                      "type": "number"
                    },
                    "non_liquid_total": {
                      "type": "number"
                    },
                    "accounts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer"
                          },
                          "name": {
                            "type": "string"
                          },
                          "provider": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "type": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "subtype": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          },
                          "is_liquid": {
                            "type": "boolean"
                          },
                          "balance": {
                            "type": "number"
                          },
                          "currency": {
                            "type": "string"
                          },
                          "as_of": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "is_liquid",
                          "balance",
                          "currency",
                          "as_of"
                        ],
                        "additionalProperties": true
                      }
                    }
                  },
                  "required": [
                    "liquid_total",
                    "non_liquid_total",
                    "accounts"
                  ],
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/ef": {
      "get": {
        "tags": [
          "ef"
        ],
        "summary": "Ef Overview",
        "operationId": "ef_overview_ef_get",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "baseline_monthly_outflow": {
                      "type": "number"
                    },
                    "target": {
                      "type": "number"
                    },
                    "liquid": {
                      "type": "number"
                    },
                    "funded_pct": {
                      "type": "number"
                    },
                    "monthly_income": {
                      "type": "number"
                    },
                    "recommended_contribution": {
                      "type": "number"
                    }
                  },
                  "required": [
                    "baseline_monthly_outflow",
                    "target",
                    "liquid",
                    "funded_pct",
                    "monthly_income",
                    "recommended_contribution"
                  ],
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/breakdown": {
      "post": {
        "tags": [
          "breakdown"
        ],
        "summary": "Plan Breakdown",
        "operationId": "plan_breakdown_breakdown_post",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "minimum": 0,
                    "description": "New inflow to allocate"
                  },
                  "reserve_cushion": {
                    "type": "number",
                    "minimum": 0,
                    "default": 200
                  },
                  "due_soon_days": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 60,
                    "default": 14
                  },
                  "year": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  },
                  "month": {
                    "anyOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "null"
                      }
                    ]
                  }
                },
                "required": [
                  "amount"
                ],
                "additionalProperties": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "input_amount": {
                      "type": "number"
                    },
                    "reserve_cushion": {
                      "type": "number"
                    },
                    "allocated": {
                      "type": "object",
                      "properties": {
                        "bills": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "to": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "due": {
                                "type": "string",
                                "format": "date"
                              },
                              "amount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "to",
                              "name",
                              "due",
                              "amount"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "budgets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "to": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "amount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "to",
                              "name",
                              "amount"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "ef": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "bills",
                        "budgets",
                        "ef"
                      ],
                      "additionalProperties": true
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "to_bills": {
                          "type": "number"
                        },
                        "to_budgets": {
                          "type": "number"
                        },
                        "to_ef": {
                          "type": "number"
                        },
                        "unallocated": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "to_bills",
                        "to_budgets",
                        "to_ef",
                        "unallocated"
                      ],
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "input_amount",
                    "reserve_cushion",
                    "allocated",
                    "summary"
                  ],
                  "additionalProperties": true
                }
              }
            }
          },
          "422": {
            "description": "Validation Error"
          }
        }
      }
    },
    "/snapshot": {
      "get": {
        "tags": [
          "snapshot"
        ],
        "summary": "Full Snapshot",
        "operationId": "full_snapshot_snapshot_get",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "range": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "format": "date"
                        },
                        "to": {
                          "type": "string",
                          "format": "date"
                        }
                      },
                      "required": [
                        "from",
                        "to"
                      ],
                      "additionalProperties": true
                    },
                    "cashflow": {
                      "type": "object",
                      "properties": {
                        "totals": {
                          "type": "object",
                          "properties": {
                            "inflow": {
                              "type": "number"
                            },
                            "outflow": {
                              "type": "number"
                            },
                            "net": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "inflow",
                            "outflow",
                            "net"
                          ],
                          "additionalProperties": true
                        },
                        "by_category": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category_id": {
                                "type": "string"
                              },
                              "category_name": {
                                "type": "string"
                              },
                              "is_income": {
                                "type": "boolean"
                              },
                              "is_transfer": {
                                "type": "boolean"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "category_id",
                              "category_name",
                              "is_income",
                              "is_transfer",
                              "total"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "top_payees": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "payee": {
                                "type": "string"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "payee",
                              "total"
                            ],
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "totals",
                        "by_category",
                        "top_payees"
                      ],
                      "additionalProperties": true
                    },
                    "budgets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category_id": {
                            "type": "string"
                          },
                          "category_name": {
                            "type": "string"
                          },
                          "year": {
                            "type": "integer"
                          },
                          "month": {
                            "type": "integer"
                          },
                          "amount": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "category_id",
                          "category_name",
                          "year",
                          "month",
                          "amount"
                        ],
                        "additionalProperties": true
                      }
                    },
                    "bills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bill_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "due": {
                            "type": "string",
                            "format": "date"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "progress_pct": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "saved_so_far": {
                            "type": "number"
                          },
                          "contrib_sum": {
                            "type": "number"
                          },
                          "paid_sum": {
                            "type": "number"
                          },
                          "days_to_due": {
                            "type": "integer"
                          },
                          "due_soon": {
                            "type": "boolean"
                          },
                          "priority_score": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "bill_id",
                          "name",
                          "due",
                          "amount",
                          "progress_pct",
                          "paid",
                          "saved_so_far",
                          "contrib_sum",
                          "paid_sum",
                          "days_to_due",
                          "due_soon",
                          "priority_score"
                        ],
                        "additionalProperties": true
                      }
                    },
                    "balances": {
                      "type": "object",
                      "properties": {
                        "liquid_total": {
                          "type": "number"
                        },
                        "non_liquid_total": {
                          "type": "number"
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "provider": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "type": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "subtype": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "is_liquid": {
                                "type": "boolean"
                              },
                              "balance": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "as_of": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "is_liquid",
                              "balance",
                              "currency",
                              "as_of"
                            ],
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "liquid_total",
                        "non_liquid_total",
                        "accounts"
                      ],
                      "additionalProperties": true
                    },
                    "ef_overview": {
                      "type": "object",
                      "properties": {
                        "baseline_monthly_outflow": {
                          "type": "number"
                        },
                        "target": {
                          "type": "number"
                        },
                        "liquid": {
                          "type": "number"
                        },
                        "funded_pct": {
                          "type": "number"
                        },
                        "monthly_income": {
                          "type": "number"
                        },
                        "recommended_contribution": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "baseline_monthly_outflow",
                        "target",
                        "liquid",
                        "funded_pct",
                        "monthly_income",
                        "recommended_contribution"
                      ],
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "range",
                    "cashflow",
                    "balances",
                    "ef_overview"
                  ],
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/snapshot/latest": {
      "get": {
        "tags": [
          "snapshot"
        ],
        "summary": "Latest Snapshot",
        "operationId": "latest_snapshot_snapshot_latest_get",
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 365,
              "default": 7
            },
            "description": "Number of trailing days to include (inclusive of today)"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "range": {
                      "type": "object",
                      "properties": {
                        "from": {
                          "type": "string",
                          "format": "date"
                        },
                        "to": {
                          "type": "string",
                          "format": "date"
                        }
                      },
                      "required": [
                        "from",
                        "to"
                      ],
                      "additionalProperties": true
                    },
                    "cashflow": {
                      "type": "object",
                      "properties": {
                        "totals": {
                          "type": "object",
                          "properties": {
                            "inflow": {
                              "type": "number"
                            },
                            "outflow": {
                              "type": "number"
                            },
                            "net": {
                              "type": "number"
                            }
                          },
                          "required": [
                            "inflow",
                            "outflow",
                            "net"
                          ],
                          "additionalProperties": true
                        },
                        "by_category": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category_id": {
                                "type": "string"
                              },
                              "category_name": {
                                "type": "string"
                              },
                              "is_income": {
                                "type": "boolean"
                              },
                              "is_transfer": {
                                "type": "boolean"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "category_id",
                              "category_name",
                              "is_income",
                              "is_transfer",
                              "total"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "top_payees": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "payee": {
                                "type": "string"
                              },
                              "total": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "payee",
                              "total"
                            ],
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "totals",
                        "by_category",
                        "top_payees"
                      ],
                      "additionalProperties": true
                    },
                    "budgets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "category_id": {
                            "type": "string"
                          },
                          "category_name": {
                            "type": "string"
                          },
                          "year": {
                            "type": "integer"
                          },
                          "month": {
                            "type": "integer"
                          },
                          "amount": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "category_id",
                          "category_name",
                          "year",
                          "month",
                          "amount"
                        ],
                        "additionalProperties": true
                      }
                    },
                    "bills": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "bill_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "due": {
                            "type": "string",
                            "format": "date"
                          },
                          "amount": {
                            "type": "number"
                          },
                          "progress_pct": {
                            "type": "number"
                          },
                          "paid": {
                            "type": "boolean"
                          },
                          "saved_so_far": {
                            "type": "number"
                          },
                          "contrib_sum": {
                            "type": "number"
                          },
                          "paid_sum": {
                            "type": "number"
                          },
                          "days_to_due": {
                            "type": "integer"
                          },
                          "due_soon": {
                            "type": "boolean"
                          },
                          "priority_score": {
                            "type": "number"
                          }
                        },
                        "required": [
                          "bill_id",
                          "name",
                          "due",
                          "amount",
                          "progress_pct",
                          "paid",
                          "saved_so_far",
                          "contrib_sum",
                          "paid_sum",
                          "days_to_due",
                          "due_soon",
                          "priority_score"
                        ],
                        "additionalProperties": true
                      }
                    },
                    "balances": {
                      "type": "object",
                      "properties": {
                        "liquid_total": {
                          "type": "number"
                        },
                        "non_liquid_total": {
                          "type": "number"
                        },
                        "accounts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "id": {
                                "type": "integer"
                              },
                              "name": {
                                "type": "string"
                              },
                              "provider": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "type": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "subtype": {
                                "anyOf": [
                                  {
                                    "type": "string"
                                  },
                                  {
                                    "type": "null"
                                  }
                                ]
                              },
                              "is_liquid": {
                                "type": "boolean"
                              },
                              "balance": {
                                "type": "number"
                              },
                              "currency": {
                                "type": "string"
                              },
                              "as_of": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "id",
                              "name",
                              "is_liquid",
                              "balance",
                              "currency",
                              "as_of"
                            ],
                            "additionalProperties": true
                          }
                        }
                      },
                      "required": [
                        "liquid_total",
                        "non_liquid_total",
                        "accounts"
                      ],
                      "additionalProperties": true
                    },
                    "ef_overview": {
                      "type": "object",
                      "properties": {
                        "baseline_monthly_outflow": {
                          "type": "number"
                        },
                        "target": {
                          "type": "number"
                        },
                        "liquid": {
                          "type": "number"
                        },
                        "funded_pct": {
                          "type": "number"
                        },
                        "monthly_income": {
                          "type": "number"
                        },
                        "recommended_contribution": {
                          "type": "number"
                        }
                      },
                      "required": [
                        "baseline_monthly_outflow",
                        "target",
                        "liquid",
                        "funded_pct",
                        "monthly_income",
                        "recommended_contribution"
                      ],
                      "additionalProperties": true
                    }
                  },
                  "required": [
                    "range",
                    "cashflow",
                    "balances",
                    "ef_overview"
                  ],
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/snapshot/full": {
      "get": {
        "tags": [
          "snapshot"
        ],
        "summary": "Full Snapshot Full",
        "operationId": "full_snapshot_full_snapshot_full_get",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "range": {
                          "type": "object",
                          "properties": {
                            "from": {
                              "type": "string",
                              "format": "date"
                            },
                            "to": {
                              "type": "string",
                              "format": "date"
                            }
                          },
                          "required": [
                            "from",
                            "to"
                          ],
                          "additionalProperties": true
                        },
                        "cashflow": {
                          "type": "object",
                          "properties": {
                            "totals": {
                              "type": "object",
                              "properties": {
                                "inflow": {
                                  "type": "number"
                                },
                                "outflow": {
                                  "type": "number"
                                },
                                "net": {
                                  "type": "number"
                                }
                              },
                              "required": [
                                "inflow",
                                "outflow",
                                "net"
                              ],
                              "additionalProperties": true
                            },
                            "by_category": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "category_id": {
                                    "type": "string"
                                  },
                                  "category_name": {
                                    "type": "string"
                                  },
                                  "is_income": {
                                    "type": "boolean"
                                  },
                                  "is_transfer": {
                                    "type": "boolean"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "category_id",
                                  "category_name",
                                  "is_income",
                                  "is_transfer",
                                  "total"
                                ],
                                "additionalProperties": true
                              }
                            },
                            "top_payees": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "payee": {
                                    "type": "string"
                                  },
                                  "total": {
                                    "type": "number"
                                  }
                                },
                                "required": [
                                  "payee",
                                  "total"
                                ],
                                "additionalProperties": true
                              }
                            }
                          },
                          "required": [
                            "totals",
                            "by_category",
                            "top_payees"
                          ],
                          "additionalProperties": true
                        },
                        "budgets": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "category_id": {
                                "type": "string"
                              },
                              "category_name": {
                                "type": "string"
                              },
                              "year": {
                                "type": "integer"
                              },
                              "month": {
                                "type": "integer"
                              },
                              "amount": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "category_id",
                              "category_name",
                              "year",
                              "month",
                              "amount"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "bills": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "bill_id": {
                                "type": "string"
                              },
                              "name": {
                                "type": "string"
                              },
                              "due": {
                                "type": "string",
                                "format": "date"
                              },
                              "amount": {
                                "type": "number"
                              },
                              "progress_pct": {
                                "type": "number"
                              },
                              "paid": {
                                "type": "boolean"
                              },
                              "saved_so_far": {
                                "type": "number"
                              },
                              "contrib_sum": {
                                "type": "number"
                              },
                              "paid_sum": {
                                "type": "number"
                              },
                              "days_to_due": {
                                "type": "integer"
                              },
                              "due_soon": {
                                "type": "boolean"
                              },
                              "priority_score": {
                                "type": "number"
                              }
                            },
                            "required": [
                              "bill_id",
                              "name",
                              "due",
                              "amount",
                              "progress_pct",
                              "paid",
                              "saved_so_far",
                              "contrib_sum",
                              "paid_sum",
                              "days_to_due",
                              "due_soon",
                              "priority_score"
                            ],
                            "additionalProperties": true
                          }
                        },
                        "balances": {
                          "type": "object",
                          "properties": {
                            "liquid_total": {
                              "type": "number"
                            },
                            "non_liquid_total": {
                              "type": "number"
                            },
                            "accounts": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "id": {
                                    "type": "integer"
                                  },
                                  "name": {
                                    "type": "string"
                                  },
                                  "provider": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
                                      {
                                        "type": "null"
                                      }
                                    ]
                                  },
                                  "type": {
                                    "anyOf": [
                                      {
                                        "type": "string"
                                      },
[...]
