{
  "openapi": "3.0.3",
  "info": {
    "title": "Cashflow Minimal API",
    "version": "1.0.0",
    "description": "Read-only Lunch Money ingest + local cashflow controls. Minimal endpoints for GPT Actions."
  },
  "servers": [
    { "url": "https://cashflow.mira.joseai.dev" }
  ],
  "paths": {
    "/healthz": {
      "get": {
        "summary": "Health check",
        "responses": {
          "200": {
            "description": "OK",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } }, "required": ["ok"] } } }
          }
        }
      }
    },
    "/sync": {
      "post": {
        "summary": "Sync LM → DB (insert-only into transactions)",
        "parameters": [
          { "in": "query", "name": "days", "schema": { "type": "integer", "minimum": 1 }, "required": false, "description": "Default 1; use 90 once for initial backfill" },
          { "in": "query", "name": "start", "schema": { "type": "string", "format": "date" }, "required": false },
          { "in": "query", "name": "end", "schema": { "type": "string", "format": "date" }, "required": false }
        ],
        "responses": {
          "200": {
            "description": "Sync summary",
            "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SyncResponse" } } }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "summary": "List transactions",
        "parameters": [
          { "in": "query", "name": "from", "schema": { "type": "string", "format": "date" } },
          { "in": "query", "name": "to", "schema": { "type": "string", "format": "date" } },
          { "in": "query", "name": "ignored", "schema": { "type": "boolean" } },
          { "in": "query", "name": "limit", "schema": { "type": "integer", "default": 200, "maximum": 1000 } },
          { "in": "query", "name": "offset", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Array of transactions",
            "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Transaction" } } } }
          }
        }
      }
    },
    "/transactions/{lm_id}": {
      "get": {
        "summary": "Get a transaction",
        "parameters": [{ "in": "path", "name": "lm_id", "required": true, "schema": { "type": "integer" } }],
        "responses": { "200": { "description": "Transaction", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Transaction" } } } }, "404": { "description": "Not found" } }
      },
      "patch": {
        "summary": "Patch a transaction (category, ignored, note, payee)",
        "parameters": [{ "in": "path", "name": "lm_id", "required": true, "schema": { "type": "integer" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/TransactionPatch" } } } },
        "responses": { "200": { "description": "Updated", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Transaction" } } } }, "404": { "description": "Not found" } }
      }
    },
    "/categories": {
      "get": {
        "summary": "List categories",
        "responses": { "200": { "description": "Array", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Category" } } } } } }
      },
      "post": {
        "summary": "Create category",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CategoryCreate" } } } },
        "responses": { "201": { "description": "Created", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "id": { "type": "string" } }, "required": ["ok","id"] } } } } }
      }
    },
    "/categories/{id}": {
      "patch": {
        "summary": "Patch category flags/name",
        "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/CategoryPatch" } } } },
        "responses": { "200": { "description": "OK" }, "404": { "description": "Not found" } }
      },
      "delete": {
        "summary": "Delete category",
        "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted" }, "404": { "description": "Not found" } }
      }
    },
    "/budgets": {
      "get": {
        "summary": "List budgets for a month",
        "parameters": [
          { "in": "query", "name": "year", "required": true, "schema": { "type": "integer" } },
          { "in": "query", "name": "month", "required": true, "schema": { "type": "integer", "minimum": 1, "maximum": 12 } }
        ],
        "responses": { "200": { "description": "Array", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/BudgetItem" } } } } } }
      }
    },
    "/budgets/{category_id}/{year}-{month}": {
      "put": {
        "summary": "Upsert a monthly budget row",
        "parameters": [
          { "in": "path", "name": "category_id", "required": true, "schema": { "type": "string" } },
          { "in": "path", "name": "year", "required": true, "schema": { "type": "integer" } },
          { "in": "path", "name": "month", "required": true, "schema": { "type": "integer", "minimum": 1, "maximum": 12 } }
        ],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BudgetUpsert" } } } },
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object" } } } } }
      }
    },
    "/cashflow/budget-vs-actual": {
      "get": {
        "summary": "Budget vs actual for a month",
        "parameters": [
          { "in": "query", "name": "year", "required": true, "schema": { "type": "integer" } },
          { "in": "query", "name": "month", "required": true, "schema": { "type": "integer", "minimum": 1, "maximum": 12 } }
        ],
        "responses": { "200": { "description": "Array", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/BudgetVsActualItem" } } } } } }
      }
    },
    "/bills": {
      "get": {
        "summary": "List bills",
        "responses": { "200": { "description": "Array of bills", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Bill" } } } } } }
      },
      "post": {
        "summary": "Create bill",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BillCreate" } } } },
        "responses": { "201": { "description": "Created", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "id": { "type": "string" }, "created": { "type": "boolean" } }, "required": ["ok","id","created"] } } } } }
      }
    },
    "/bills/{id}": {
      "patch": {
        "summary": "Patch bill",
        "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BillPatch" } } } },
        "responses": { "200": { "description": "OK" }, "404": { "description": "Not found" } }
      },
      "delete": {
        "summary": "Delete bill",
        "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "string" } }],
        "responses": { "204": { "description": "Deleted" }, "404": { "description": "Not found" } }
      }
    },
    "/bills/{id}/contribute": {
      "post": {
        "summary": "Add contribution to bill ledger",
        "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "string" } }],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ContribBody" } } } },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/bills/{id}/mark-paid": {
      "post": {
        "summary": "Mark bill as paid (idempotent)",
        "parameters": [{ "in": "path", "name": "id", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "OK", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "already_paid": { "type": "boolean" }, "period_start": { "type": "string" }, "due": { "type": "string" } }, "required": ["ok","already_paid"] } } } } }
      }
    },
    "/bills/occurrences": {
      "get": {
        "summary": "List bill occurrences with progress",
        "parameters": [
          { "in": "query", "name": "from", "required": true, "schema": { "type": "string", "format": "date" } },
          { "in": "query", "name": "to", "required": true, "schema": { "type": "string", "format": "date" } },
          { "in": "query", "name": "due_soon_days", "required": false, "schema": { "type": "integer", "default": 14 } }
        ],
        "responses": { "200": { "description": "Array", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/BillOccurrence" } } } } } }
      }
    },
    "/bills/{id}/ledger": {
      "get": {
        "summary": "Inspect bill ledger in a period",
        "parameters": [
          { "in": "path", "name": "id", "required": true, "schema": { "type": "string" } },
          { "in": "query", "name": "from", "required": true, "schema": { "type": "string", "format": "date" } },
          { "in": "query", "name": "to", "required": true, "schema": { "type": "string", "format": "date" } }
        ],
        "responses": { "200": { "description": "Ledger summary", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BillLedgerResponse" } } } } }
      }
    },
    "/balances/snapshot": {
      "get": {
        "summary": "Latest balances per account",
        "responses": { "200": { "description": "Snapshot", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BalancesSnapshot" } } } } }
      }
    },
    "/ef": {
      "get": {
        "summary": "Emergency fund overview",
        "responses": { "200": { "description": "EF", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/EFResponse" } } } } }
      }
    },
    "/breakdown": {
      "post": {
        "summary": "Plan allocation of new inflow",
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BreakdownBody" } } } },
        "responses": { "200": { "description": "Plan", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BreakdownResponse" } } } } }
      }
    },
    "/snapshot": {
      "get": {
        "summary": "Expanded period snapshot",
        "parameters": [
          { "in": "query", "name": "from", "required": true, "schema": { "type": "string", "format": "date" } },
          { "in": "query", "name": "to", "required": true, "schema": { "type": "string", "format": "date" } }
        ],
        "responses": { "200": { "description": "Snapshot", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/SnapshotResponse" } } } } }
      }
    }
  },
  "components": {
    "schemas": {
      "Transaction": {
        "type": "object",
        "properties": {
          "lm_id": { "type": "integer" },
          "date_posted": { "type": "string", "format": "date" },
          "amount": { "type": "number" },
          "currency": { "type": "string" },
          "payee": { "type": "string", "nullable": true },
          "note": { "type": "string", "nullable": true },
          "category": { "type": "string", "nullable": true },
          "ignored": { "type": "boolean" }
        },
        "required": ["lm_id","date_posted","amount","currency","ignored"]
      },
      "TransactionPatch": {
        "type": "object",
        "properties": {
          "category": { "type": "string", "nullable": true },
          "ignored": { "type": "boolean" },
          "note": { "type": "string", "nullable": true },
          "payee": { "type": "string", "nullable": true }
        },
        "additionalProperties": false
      },
      "Category": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "affects_cashflow": { "type": "boolean" },
          "budgetable": { "type": "boolean" },
          "is_income": { "type": "boolean" }
        },
        "required": ["id","name","affects_cashflow","budgetable","is_income"]
      },
      "CategoryCreate": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "affects_cashflow": { "type": "boolean", "default": true },
          "budgetable": { "type": "boolean", "default": true },
          "is_income": { "type": "boolean", "default": false }
        },
        "required": ["id","name"]
      },
      "CategoryPatch": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "affects_cashflow": { "type": "boolean" },
          "budgetable": { "type": "boolean" },
          "is_income": { "type": "boolean" }
        },
        "additionalProperties": false
      },
      "BudgetUpsert": {
        "type": "object",
        "properties": { "amount": { "type": "number" } },
        "required": ["amount"]
      },
      "BudgetItem": {
        "type": "object",
        "properties": {
          "category_id": { "type": "string" },
          "category_name": { "type": "string" },
          "year": { "type": "integer" },
          "month": { "type": "integer" },
          "amount": { "type": "number" }
        }
      },
      "BudgetVsActualItem": {
        "type": "object",
        "properties": {
          "category_id": { "type": "string" },
          "category_name": { "type": "string" },
          "budgeted": { "type": "number" },
          "actual": { "type": "number" },
          "variance": { "type": "number" }
        }
      },
      "Bill": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "amount": { "type": "number" },
          "currency": { "type": "string" },
          "frequency": { "type": "string", "enum": ["weekly","monthly","yearly"] },
          "weekday": { "type": "integer", "nullable": true },
          "day_of_month": { "type": "integer", "nullable": true },
          "start_date": { "type": "string", "format": "date", "nullable": true },
          "end_date": { "type": "string", "format": "date", "nullable": true }
        }
      },
      "BillCreate": { "$ref": "#/components/schemas/Bill" },
      "BillPatch": { "$ref": "#/components/schemas/Bill" },
      "ContribBody": {
        "type": "object",
        "properties": { "amount": { "type": "number" }, "note": { "type": "string" } },
        "required": ["amount"]
      },
      "BillOccurrence": {
        "type": "object",
        "properties": {
          "bill_id": { "type": "string" },
          "name": { "type": "string" },
          "due": { "type": "string", "format": "date" },
          "amount": { "type": "number" },
          "progress_pct": { "type": "number" },
          "paid": { "type": "boolean" },
          "contrib_sum": { "type": "number" },
          "paid_sum": { "type": "number" },
          "days_to_due": { "type": "integer" },
          "due_soon": { "type": "boolean" },
          "priority_score": { "type": "number" }
        }
      },
      "BillLedgerResponse": {
        "type": "object",
        "properties": {
          "bill_id": { "type": "string" },
          "from": { "type": "string" },
          "to": { "type": "string" },
          "contrib_sum": { "type": "number" },
          "paid_sum": { "type": "number" },
          "entries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "occurred_at": { "type": "string" },
                "amount": { "type": "number" },
                "note": { "type": "string" }
              }
            }
          }
        }
      },
      "BalancesSnapshot": {
        "type": "object",
        "properties": {
          "liquid_total": { "type": "number" },
          "non_liquid_total": { "type": "number" },
          "accounts": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "name": { "type": "string" },
                "provider": { "type": "string" },
                "type": { "type": "string" },
                "subtype": { "type": "string" },
                "is_liquid": { "type": "boolean" },
                "balance": { "type": "number" },
                "currency": { "type": "string" },
                "as_of": { "type": "string" }
              }
            }
          }
        }
      },
      "EFResponse": {
        "type": "object",
        "properties": {
          "baseline_monthly_outflow": { "type": "number" },
          "target": { "type": "number" },
          "liquid": { "type": "number" },
          "funded_pct": { "type": "number" },
          "monthly_income": { "type": "number" },
          "recommended_contribution": { "type": "number" }
        }
      },
      "BreakdownBody": {
        "type": "object",
        "properties": {
          "amount": { "type": "number" },
          "reserve_cushion": { "type": "number", "default": 200 },
          "due_soon_days": { "type": "integer", "default": 14 },
          "year": { "type": "integer" },
          "month": { "type": "integer" }
        },
        "required": ["amount"]
      },
      "BreakdownResponse": {
        "type": "object",
        "properties": {
          "input_amount": { "type": "number" },
          "reserve_cushion": { "type": "number" },
          "allocated": {
            "type": "object",
            "properties": {
              "bills": { "type": "array", "items": { "type": "object", "properties": { "to": { "type": "string" }, "name": { "type": "string" }, "due": { "type": "string" }, "amount": { "type": "number" } } } },
              "budgets": { "type": "array", "items": { "type": "object", "properties": { "to": { "type": "string" }, "name": { "type": "string" }, "amount": { "type": "number" } } } },
              "ef": { "type": "number" }
            }
          },
          "summary": {
            "type": "object",
            "properties": {
              "to_bills": { "type": "number" },
              "to_budgets": { "type": "number" },
              "to_ef": { "type": "number" },
              "unallocated": { "type": "number" }
            }
          }
        }
      },
      "SyncResponse": {
        "type": "object",
        "properties": {
          "start": { "type": "string" },
          "end": { "type": "string" },
          "fetched": { "type": "integer" },
          "upserted_into_lm_transactions": { "type": "integer" },
          "inserted_into_transactions": { "type": "integer" },
          "accounts_processed": { "type": "integer" },
          "balance_snapshots": { "type": "integer" }
        }
      },
      "SnapshotResponse": {
        "type": "object",
        "properties": {
          "range": {
            "type": "object",
            "properties": { "from": { "type": "string" }, "to": { "type": "string" } }
          },
          "cashflow": {
            "type": "object",
            "properties": {
              "inflow": { "type": "number" },
              "outflow": { "type": "number" },
              "net": { "type": "number" },
              "by_category": {
                "type": "array",
                "items": { "type": "object", "properties": { "category_id": { "type": "string" }, "category_name": { "type": "string" }, "total": { "type": "number" } } }
              },
              "top_outflow_payees": {
                "type": "array",
                "items": { "type": "object", "properties": { "payee": { "type": "string" }, "spend": { "type": "number" } } }
              }
            }
          },
          "budgets": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BudgetVsActualItem" },
            "nullable": true
          },
          "bills": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/BillOccurrence" }
          },
          "balances": { "$ref": "#/components/schemas/BalancesSnapshot" },
          "ef": { "$ref": "#/components/schemas/EFResponse" }
        }
      }
    }
  }
}
